/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html{
  --mainTextColor: #202020;
  --secondaryTextColor: #FFFFFF;
  --backgroundMainColor: #FFFFFF;
  --mainBorderRadius: 10px;
  --menuBackgroundColor: #EFFFFC;
  --additionalColor: #009D7D;
  --secondaryAdditionalColor: #193759;
  --footerColor: #202020;
  --footerButtonColor: #009D7D;
  --footerButtonTextColor: #FFFFFF;
  --burgerMenuColor: #000000;
  --menuLogo: url("../img/menu/logo-light-theme.png");
  --footerLogo: url("../img/footer/logo-light-theme.png");
  --balloonImage: url("../img/contactsPage/mapBallon/light-theme.png");
}
@media (prefers-color-scheme: dark) {
  html{
    --mainTextColor: #FFFFFF;
    --secondaryTextColor: #202020;
    --backgroundMainColor: #202020;
    --mainBorderRadius: 10px;
    --menuBackgroundColor: #202020;
    --additionalColor: #009D7D;
    --secondaryAdditionalColor: #8DC1FF;
    --footerColor: #009D7D;
    --footerButtonColor: #FFFFFF;
    --footerButtonTextColor: #202020;
    --burgerMenuColor: #FFFFFF;
    --menuLogo: url("../img/menu/logo-dark-theme.png");
    --footerLogo: url("../img/footer/logo-dark-theme.png");
    --balloonImage: url("../img/contactsPage/mapBallon/dark-theme.png");
  }
}

* {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: var(--mainTextColor);
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--backgroundMainColor);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--additionalColor);
  border-radius: 20px;
}
.mainContainer{
  position: relative;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  height: fit-content;
  justify-content: center;
  background-color: var(--backgroundMainColor);
}
footer{
  background-color: var(--footerColor);
  height: 497px;
  max-width: 1920px;
  width: 100%;
  padding: 82px 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerSection{
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: row;
  padding: 47px 60px;
  height: calc(100vh - 70px);
  background-blend-mode: multiply;
  background-color: #00000082;
  background-image: url("../img/mainPage/header/bdffd45ca04e1ed30afb81aad863fdfc.png");
  background-position: center center;
  background-size: cover;
  justify-content: space-between;
}
.headerSection__textBox{
  display: flex;
  flex-direction: column;
}
.headerSection__textBox__topText{
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
}
.headerSection__textBox__bottomText{
  font-family: Montserrat Alternates,sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.headerSection__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 427px;
  padding: 11px 0 9px;
  background-color: var(--additionalColor);
  color: #FFFFFF;
  font-size: 26px;
}
.menu{
  max-width: 1920px;
  background-color: var(--menuBackgroundColor, #EFFFFC);
  height: 70px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.menu__buttonsContainer{
  display: flex;
  gap: 83px;
}
.menu__burgerMenu{
  display: none;
}
.content{
  max-width: 1920px;
  width: 100%;
}
.sectionInfo{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 172px 0;
  z-index: 2;
}
.sectionInfo__sectionHeader{
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondaryAdditionalColor);
  z-index: 1;
}
.aboutSectionContent{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 87px;
  justify-content: end;
  z-index: 1;
}
.aboutSectionContent__textContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  width: calc(100% - 558px);
}
.aboutSectionContent__image{
  width: 538px;
}
.sectionInfo__sectionHeader__title{
  text-transform: uppercase;
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.sectionInfo__sectionHeader__number{
  text-transform: uppercase;
  font-family: Montserrat Alternates, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--secondaryAdditionalColor);
}
.sectionInfo__sectionHeader__svgContainer__svg{
  fill: var(--secondaryAdditionalColor);
}
.sectionStats{
  padding: 60px 233px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.sectionStats__statContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionStats__statContainer p{
  text-align: center;
}
.sectionStats__statContainer__stat{
  font-weight: 700;
  font-size: 52px;
  color: var(--additionalColor);
}
.sectionStats__statContainer__middleStat{
  font-weight: 700;
  font-size: 52px;
  color: var(--secondaryAdditionalColor);
}
.textContainer__text{
  font-weight: 400;
  font-size: 22px;
}
.textContainer__link{
  padding: 18px 0 17px;
  width: 100%;
  border: 1px solid var(--additionalColor);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.benefitSectionContent{
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 93px;
  z-index: 1;
}
.benefitSectionContent__images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 44px;
}
.benefitSectionContent__images__image{
  width: calc(25% - 44px);
  height: 315px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-blend-mode: multiply;
  background-color: #00000073;
  background-position: center center;
  background-size: cover;
  border: 1px solid var(--mainTextColor);
}
.benefitImage1{
  background-image: url("../img/mainPage/benefitsSection/8572909d5099d58858de5da888883dfc.png");
}
.benefitImage2{
  background-image: url("../img/mainPage/benefitsSection/8f3b5a6e1f8f5bbb4464606787be01ad.png");
}
.benefitImage3{
  background-image: url("../img/mainPage/benefitsSection/607a95bcecca7615f66720b8ae4bf29a.png");
}
.benefitImage4{
  background-image: url("../img/mainPage/benefitsSection/d51fa03b7e915de537836341ea1db707.png");
  background-position: center right;
}
.projectSectionContent__top{
  display: flex;
  flex-direction: row;
}
.projectSectionContent__top__textContainer{
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
}
.projectSectionContent{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 40px;
  z-index: 1;
}
.projectSectionContent__images{
  gap: 20px;
  display: flex;
  flex-direction: row;
}
.projectSectionContent__images__image{
  background-position: center center;
  background-size: cover;
  width: 315px;
  height: 286px;
  border-radius: var(--mainBorderRadius);
}
.projectSectionContent__images__leftImage{
  background-image: url("../img/mainPage/projectsSection/contant/b68201b4f0aeb441b075a8533a8c9daf.png");
}
.projectSectionContent__images__rightImage{
  background-image: url("../img/mainPage/projectsSection/contant/52d63acf92e60b37e10241b7f94337d1.png");
}
.footerTopSection{
  display: flex;
  gap: 127px
}
.footerTopSection__footerAddress{
  color: #FFFFFF;
}
.footerTopSection__contacts{
  display: flex;
  flex-direction: column;
}
.footerTopSection__contacts__phone{
  font-weight: 700;
  color: #FFFFFF;
}
.footerTopSection__contacts__mail{
  font-size: 22px;
  color: #FFFFFF;
}
.footerMiddleSection{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footerMiddleSection__text{
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.footerMiddleSection__button{
  padding: 18px 0 17px;
  background-color: var(--footerButtonColor);
  color: var(--footerButtonTextColor);
  width: 430px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.footerBottomSection{
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footerBottomSection__authorRules{
  font-size: 22px;
  color: #FFFFFF;
}
.footerBottomSection__vivaTeam{
  display: flex;
  align-items: center;
  gap: 16px;
}
.footerBottomSection__vivaTeam__text{
  font-size: 22px;
  color: #FFFFFF;
}
.footerTopSection__image{
  width: 221px;
  height: 66px;
  background-image: var(--footerLogo);
}
.feedbackSectionContent{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 60px;
}
.projectSection__sliderContainer{
  width: 100%;
}
.projectSection__sliderContainer__slider{
  height: fit-content;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  overflow-x: scroll;
}
.projectSection__sliderContainer__slider__imageContainer{
  flex-shrink: 0;
  width: 25%;
}
.projectSection__sliderContainer__slider__imageContainer__image{
  height: 100%;
}
.feedbackSection__sliderContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbackSection__sliderContainer__slider{
  display: flex;
  justify-content: center;
  width: 83%;
}
.feedbackSection__sliderContainer__arrow{
  cursor: pointer;
  width: 5%;
}
.menu__buttonsContainer__button{
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.menu__logo{
  background-image: var(--menuLogo);
  background-position: center center;
  background-size: cover;
  width: 244.7px;
  height: 55px;
}
.feedbackSection__sliderContainer__slider__content{
  display: flex !important;
  flex-direction: row;
  gap: 45px;
  height: max-content;
  padding: 28px 21px 32px 30px;
  background-color: var(--mainTextColor);
  border-radius: var(--mainBorderRadius);
}
.feedbackSection__sliderContainer__slider__content__image{
  width: 305px;
  height: 327px;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/mainPage/feedbackSection/69b6ce613595722e755d998469de239c.png");
}
.feedbackSection__sliderContainer__slider__content__text{
  width: calc(100% - 350px);
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.feedbackSection__sliderContainer__slider__content__text p{
  color: var(--secondaryTextColor);
}
.feedbackSection__sliderContainer__slider__content__text h3{
  color: var(--secondaryTextColor);
  font-weight: 600;
  font-size: 22px;
}
.feedbackSection__sliderContainer__slider__content img{
  height: 100%;
}
.svgArrow{
  stroke-width: 20px;
  fill: var(--secondaryAdditionalColor);
}
.svgBurgerMenu{
  stroke: var(--burgerMenuColor);
}
.feedbackSectionContent__slider__image{
  background-image: url("../img/mainPage/header/bdffd45ca04e1ed30afb81aad863fdfc.png");
}
.sectionInfo__sectionHeader__transparentNumber{
  position: absolute;
  top: -20px;
  right: -150px;
  text-align: center;
  width: 214px;
  font-size: 132px;
  font-weight: 650;
  height: 117px;
  z-index: -1;
  color: var(--secondaryAdditionalColor);
  opacity: 0.1;
}
.benefitSectionContent__images__image__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}
.projectHeaderSection{
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: row;
  padding: 47px 60px;
  height: calc(100vh - 70px);
}
.projectPageSectionContent{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 67px;
  z-index: 1;
}
.projectPageSectionContentReverted{
  flex-direction: row-reverse;
}
.projectPageSectionInfo{
  padding: 64px 172px 0;
}
.contactsPageSectionInfo{
  padding-top: 59px;
}
.contactsPageContentSectionContent{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 172px 60px;
  z-index: 2;
}
.contactsPageContentSectionContent__row{
  display: flex;
  gap: 176px;
}
.contactsPageContentSectionContent__row__element{
  display: flex;
  flex-direction: column;
}
.contactsPageContentSectionContent__row__element__links{
  display: flex;
  flex-direction: column;
}
.contactsPageMap{
  height: 500px;
  /*width: 500%;*/
  /*padding: ;*/
}
.contactsPageContentSectionContent__row__element__header{
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 10px;
}
.contactsPageContentSectionContent__row__element__name{
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 4px;
}
.contactsPageContentSectionContent__row__element__links__link{
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.balloonContainer{
  width: 327px;
  height: 100px;
  padding: 23px 15px 23px 28px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: var(--balloonImage);
}
.balloonText{
  color: var(--secondaryTextColor);
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 400;
  font-size: 22px;
}
@media screen and (max-width: 1100px){
  .contactsPageContentSectionContent__row{
    flex-direction: column;
    gap: 15px;
  }
  .contactsPageContentSectionContent{
    gap: 15px;
  }
}
@media screen and (max-width: 1400px) {
  *{
    font-size: 20px;
  }
  .headerSection__textBox{
    gap: 5px;
  }
  .headerSection__textBox__topText{
    font-size: 23px;
  }
  .headerSection__textBox__bottomText{
    font-size: 30px;
  }
  .textContainer__link{
    font-size: 17px;
  }
  .benefitSectionContent__images{
    display: grid;
    gap: 16px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .benefitSectionContent__images__image{
    justify-content: start;
    padding-left: 8px;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .contactsPageContentSectionContent__row__element__header{
    font-size: 17px;
    padding: 0;
  }
  .contactsPageContentSectionContent__row__element__links__link{
    font-size: 17px;
  }
  .sectionStats{
    flex-direction: column;
    gap: 27px;
    padding: 40px 0 0;
  }
  .footerMiddleSection__button{
    width: 100%;
  }
  .footerMiddleSection{
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }
  .footerBottomSection{
    flex-direction: column;
    align-items: center;
    gap: 80px;
    text-align: center;
  }
  .menu__logo{
    width: 128.5px;
    height: 29.2px;
  }
  .menu__buttonsContainer__button{
    font-size: 12px;
  }
}
@media screen and (max-width: 1300px) {
  .contactsPageContentSectionContent__row__element__name{
    font-size: 22px;
  }
  footer{
    height: fit-content;
    gap: 80px;
  }
  .footerTopSection{
    flex-direction: column;
    gap: 30px;
  }
  .feedbackSection__sliderContainer__slider__content{
    padding: 30px 20px;
    gap: 15px;
    align-items: center;
    flex-direction: column;
  }
  .feedbackSection__sliderContainer__slider__content__image{
    padding: 0 13px;
    width: calc(100% - 26px);
  }
  .feedbackSection__sliderContainer__slider__content__text{
    width: 100%;
  }
  .aboutSectionContent{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .projectSectionContent{
    flex-direction: column;
  }
  .aboutSectionContent__textContainer{
    width: 100%;
  }
  .aboutSectionContent__image{
    width: 100%;
  }
  .projectSectionContent__images__image{
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  *{
    font-size: 17px;
  }
  footer{
    padding: 40px 15px 18px;
  }
  .contactsPageMap{
    height: 500px;
  }
  .balloonContainer{
    width: 253px;
    height: 73px;
    padding: 18px 10px 13px 24px;
  }
  .balloonText{
    font-size: 17px;
  }
  .contactsPageContentSectionContent{
    padding: 30px 16px;
  }
  .feedbackSection__sliderContainer__slider__content__image{
    height: 227px;
  }
  .svgArrow{
    stroke-width: 10px;
  }
  .feedbackSection__sliderContainer__slider{
    width: 81%;
  }
  .feedbackSection__sliderContainer__arrow{
    width: 9.5%;
  }
  .footerMiddleSection__text{
    font-size: 22px;
  }
  .footerMiddleSection__button{
    padding: 8px 0;
    font-size: 17px;
  }
  .footerBottomSection__authorRules{
    font-size: 17px;
  }
  .footerBottomSection__vivaTeam__text{
    font-size: 17px;
  }
  .sectionInfo__sectionHeader__number{
    font-size: 27px;
  }
  .sectionInfo__sectionHeader__title{
    font-size: 27px;
  }
  .feedbackSection__sliderContainer__slider__content__text h3{
    font-size: 17px;
  }
  .benefitSectionContent__images__image__text{
    font-size: 17px;
  }
  .textContainer__text{
    font-size: 17px;
  }
  .sectionStats__statContainer__stat{
    font-size: 27px;
  }
  .sectionStats__statContainer__middleStat{
    font-size: 27px;
  }
  .textContainer__link{
    font-size: 17px;
    padding: 8px 0 8px;
  }
  .projectSectionContent__images__image{
    height: 148px;
  }
  .projectSectionContent__images{
    gap: 16px;
  }
  .benefitSectionContent__images__image{
    height: 216px;
  }
  .headerSection__textBox__topText{
    font-size: 19px;
  }
  .aboutSectionContent{
    padding-bottom: 40px;
  }
  .benefitSectionContent{
    gap: 15px;
    padding-bottom: 40px;
  }
  .headerSection{
    gap: 5px;
  }
  .headerSection__textBox__bottomText{
    font-size: 27px;
  }
  .menu{
    padding: 0 16px;
  }
  .sectionInfo{
    padding: 40px 16px 0;
  }
  .sectionInfo__sectionHeader__transparentNumber{
    display: none;
  }
  .headerSection__button{
    padding: 7px 0 7px;
    width: 100%;
    font-size: 19px;
  }
  .headerSection{
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding: 0 16px 47px;
  }
  .menu__buttonsContainer{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--backgroundMainColor);
    flex-direction: column;
    height: 100vh;
  }
  .menu__burgerMenu{
    display: flex;
    cursor: pointer;
  }
}
